*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    margin: 0px;
    
}

li{
   
    list-style: none;
    display: block;
}
.center-all{
    width: 1349px;
    margin: 0 auto;
}
.header{
    height: 90px;
    background-color: #f6f6f6;
}
.header .logo{
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
}
.icon-header{
    float: right;
    margin-top: 17px;
    margin-right: 20px;
}
.icon-header ul{
    margin: 0px;
    padding: 0px;
}
.icon-header ul li{
   
    list-style: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 0px 20px;
}
.carousel-item{
    position: relative;
}
.can1 h3{
    position: absolute;
    right: 200px;
    top: 100px;
    color: white;
    font-size: 45px;
}
.can1 p{
    position: absolute;
    right: 280px;
    top: 225px;
    color: white;
    font-size: 17px;
}
.can1 span{
    position: absolute;
    top: 300px;
    right: 393px;
    background-color: none;
    border: 1px solid #fff;
    border-radius: 45px;
    box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
    padding: 6px 30px;
         text-shadow: 1px 2px 7px #66635c; 
         -webkit-box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
         color: white;
         
         transition: 1s;
}
.can1 span:hover{
    background-color: #f5f3f3;
    color: #2a2d34;
    transition: 1s;
}
.can2 h2{
    position: absolute;
    top: 110px;
    right: 210px;
    color: #fff;
    text-shadow: 1px 1px 10px #666;
    font-size: 55px;
}
.can2 p{
    position: absolute;
    right: 295px;
    top: 190px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 10px #666;
}
.can2 span{
    position: absolute;
    top: 249px;
    right: 393px;
    background-color: none;
    border: 1px solid #fff;
    border-radius: 45px;
    box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
    padding: 6px 30px;
         text-shadow: 1px 2px 7px #66635c; 
         -webkit-box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
         color: white;
         
         transition: 1s;
}
.can2 span:hover{
    background-color: #f5f3f3;
    color: #2a2d34;
    transition: 1s;
}
.can3 h3{
    position: absolute;
    top: 110px;
    left: 210px;
    color: #fff;
    text-shadow: 1px 1px 10px #666;
    font-size: 55px;
}
.can3 p{
    position: absolute;
    left: 220px;
    top: 190px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 10px #666;
}
.can3 span{
    position: absolute;
    top: 249px;
    left: 250px;
    background-color: none;
    border: 1px solid #fff;
    border-radius: 45px;
    box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
    padding: 6px 30px;
         text-shadow: 1px 2px 7px #66635c; 
         -webkit-box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
         color: white;
         
         transition: 1s;
}
.can3 span:hover{
    background-color: #f5f3f3;
    color: #2a2d34;
    transition: 1s;
}

.menu{
    height: 50px;
    background-color: #2a2d34
}
.menu ul{
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
}
.menu ul li{

    float: left;
    list-style: none;
    
   height: 50px;
}
.menu ul li a{
    text-decoration: none;
    line-height: 50px;
    display: block;
    padding: 0px 20px;
    color: white;
}
.menu ul li a:hover{
    background-color: #871e23;
}


.text{
    position: absolute;
    top: 50px;
    left: 50px;
}
.text .text-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26pt;
    color: #ffffff;
  line-height: 1.5;
}
.text .text-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    color: #ffffff;
    line-height: 1.5;
}
.text input{
    padding: 9px 22px;
    background-color: #871e23;
    color: white;
    border: none;
}
.main{
   
   margin: 0 auto;
    margin-top: 15px;
   margin-bottom: 10px;
   width: 1349px;
   height: 1500px;
   
}
.main .main1-1{
    width: 1349px;
    border: 1px solid white;
}
.main .main1-1 img{
    float: right;

}
.main1-1 .thongtin{
   width: 480px;
   margin-top: 200px;
   margin-left: 100px;
}
.main3{
    text-align: center;
    position: relative;
    width: 1349px;
    height: 1015px;
    margin-bottom: 35px;
}

.main3 h2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: bold;
    bottom: 170px;
    right: 234px;
}
.main3 span a{
    position: absolute;   font-size: 20px;
    padding: 10px 40px;
    border: 1px solid #525151;
    border-radius: 30px;
    transition: 0.5s;
    color: #000;
    bottom: 85px;
    left: 555px;

}
.main3 span a:hover{
    text-decoration: none;
    background-color: #000;
    color: white;
    transition: 0.5s;
}
.sanpham{
    text-align: center;
}
.sanpham p{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}
.thongtin>a{
    color: #000;
    font-size: 20px;
    text-decoration: underline;
    margin-right: 20px;

}
 .thongtin h2{
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 80px;
    font-weight: bold;
}
.thongtin p{
    color: #363636;
    line-height: 2;
    font-size: 17.4px;
    text-align: justify;
    margin-bottom: 20px;
}
.thongtin span a{
    font-size: 20px;
padding: 10px 40px;
border: 1px solid #525151;
border-radius: 30px;
transition: 0.5s;
color: #000;
}

.thongtin span a:hover{
    text-decoration: none;
background-color: #000;
color: white;
transition: 0.5s;
}
.main .main2-2{
    width: 1349px;
    border: 1px solid white;
}
.main .main2-2 img{
   float: left;
   margin-right: 60px;
}
.main2-2 .thongtin{
    margin-top: 100px;
 width: 1200px;
   margin-right: 100px;


   
 }

    
     .clear{
        clear: both;
    }
    
.clear{
    clear: both;
}



.mani-2{
    clear: both;
    margin: 0 auto;
    height: 640px;
    margin-bottom: 20px;
    width: 1349px;
}
.mani-2 .main-2-left{
    float: left;
    
    height: 640px;
    width: 22%;
}
.mani-2 .main-2-center{
    float: left;
    height: 620px;
    width: 52%;
    margin: 0px 27px;
    box-sizing: border-box;
    transition: 1s;
}
.mani-2 .main-2-right{
    float: left;
  
    height: 640px;
    width: 22%;
}
.main-2-left-images{
    text-align: center;
    height: 300px;
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    
   
}
.main-2-left-images img{
    display: inline-block;
   margin-top: 30px;
   
}
.main-2-center img:hover{
    transform: scale(1.1);
    transition: 1s;
    
}
.main-2-center img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
   
}
.main-2-left-images h4{
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    display:inline-block;
    position: relative;
    bottom: -80px;
    transition: 0.5s;

}
.hover{
   
    background-color: #f5f3f3;
    transition: 1s;
}
.hover p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 15px;
}
.text_dt p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
}
.hover:hover h4{
    bottom: -10px;
    transition: 1s;

}
 h4:hover{
    background-color: black;
    color: white;
}
.hover:hover{
    
    background-color: white;
    box-shadow: 10px 10px  30px #acabab;
   transition: 1s;
}
.clear{
    clear: both;
}
.footer{
    clear: both;
}
.doitac{
    background-color: #f6f6f6;
    height: 40px;
    
   
}
.doitac p{
    margin-left: 50px;
    font-weight: bold;
}
.nen{
    background-color: #f6f6f6;
    height: 80px;
    
  
}
.footer-1{
   margin: 15px 0px;
    height: 55px;
    background-color:#ffffff;
    
    
}
.taitro{
    width: 1240px;
    
    margin: 0 auto;
    height: 65px;
}
.taitro ul .li{
    float: left;
    line-height: 41px;
   margin-right: 77px;
}
.taitro ul .float-right{
    float: right;
}
.taitro ul .float-left{
    margin-right: 60px;
    float: left;
}
.footer-2{
    height: 65px;
    background-color:#f5f5f5;
    border-bottom: 1px solid #babbbb;
    border-top: 1px solid #babbbb;
}
.footer-2 p{
    line-height: 65px;
    color: #212428;
    margin-left: 60px;
    display: inline-block;
    
}
.footer-2 .share{
    float: right;
    margin-right: 50px;
    line-height: 65px;
   
}
.footer-2 .share input{
    width: 235px;
    height: 30px;
    margin-right: 5px;
}
.footer-2 .share  .button{
    width: 70px;
    background-color: #525151;
    color: #ffffff;
    border: none;
    margin-left: -3px;
    line-height: 20px !important;
}
.footer-3{
    height: 315px;
    background-color: #f5f5f5;
}
.footer-3-center {
    width: 1220px;
    margin: 0 auto;
 
    height: 265px;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .ul-1 {
    width: 270px;
    margin-top: 20px; /*ở đây nè*/
   float: left;
   
  }

 .ul-1 li{
    display:inline-block;
    margin: 6px;
   margin-left: 0px;
   
}
.ul-1 li a{
    text-decoration: none;
    color:#212428;
}
.lienhe{
    height: 315px;
    width: 300px;
    float: right;
    margin-top: 22px;
}
.lienhe input{
    width: 275px;
    margin-bottom: 10px;
    height: 25px;
}
.lienhe .email{
    width: 275px;
    height: 100px;
   
}
 input.nhap{
height: 25px;
width: 80px;
margin-right: 10px;
}
input.nhap2{
    width: 40px;
    margin-left: 80px;
    color:white;
    background-color: #525151;
    border: none;


}
.lienhe ul li{
    display: inline-block;

}
.lienhe p{
    margin-top: 4px;
    color: #212428;
}
.footer-4 p{
margin-top: 14px;
margin-left: 65px;
color: #212428;
}