*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.center-all{
  width: 1349px;
    margin: 0 auto;
}
p{
    margin: 0px;
    
}

li{
   
    list-style: none;
    display: block;
}
.header{
    height: 90px;
    background-color: #f6f6f6;
}
.header .logo{
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
}
.icon-header{
    float: right;
    margin-top: 17px;
    margin-right: 20px;
}
.icon-header ul{
    margin: 0px;
    padding: 0px;
}
.icon-header ul li{
   
    list-style: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 0px 20px;
}
.carousel-item{
    position: relative;
}
.can1 h3{
    position: absolute;
    right: 200px;
    top: 100px;
    color: white;
    font-size: 45px;
}
.can1 p{
    position: absolute;
    right: 280px;
    top: 225px;
    color: white;
    font-size: 17px;
}
.can1 span{
    position: absolute;
    top: 300px;
    right: 393px;
    background-color: none;
    border: 1px solid #fff;
    border-radius: 45px;
    box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
    padding: 6px 30px;
         text-shadow: 1px 2px 7px #66635c; 
         -webkit-box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
         color: white;
         
         transition: 1s;
}
.can1 span:hover{
    background-color: #f5f3f3;
    color: #2a2d34;
    transition: 1s;
}
.can2 h2{
    position: absolute;
    top: 110px;
    right: 210px;
    color: #fff;
    text-shadow: 1px 1px 10px #666;
    font-size: 55px;
}
.can2 p{
    position: absolute;
    right: 295px;
    top: 190px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 10px #666;
}
.can2 span{
    position: absolute;
    top: 249px;
    right: 393px;
    background-color: none;
    border: 1px solid #fff;
    border-radius: 45px;
    box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
    padding: 6px 30px;
         text-shadow: 1px 2px 7px #66635c; 
         -webkit-box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
         color: white;
         
         transition: 1s;
}
.can2 span:hover{
    background-color: #f5f3f3;
    color: #2a2d34;
    transition: 1s;
}
.can3 h3{
    position: absolute;
    top: 110px;
    left: 210px;
    color: #fff;
    text-shadow: 1px 1px 10px #666;
    font-size: 55px;
}
.can3 p{
    position: absolute;
    left: 220px;
    top: 190px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 10px #666;
}
.can3 span{
    position: absolute;
    top: 249px;
    left: 250px;
    background-color: none;
    border: 1px solid #fff;
    border-radius: 45px;
    box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
    padding: 6px 30px;
         text-shadow: 1px 2px 7px #66635c; 
         -webkit-box-shadow: 1px 2px 7px #66635c, inset 0px 1px 7px #66635c;
         color: white;
         
         transition: 1s;
}
.can3 span:hover{
    background-color: #f5f3f3;
    color: #2a2d34;
    transition: 1s;
}

.menu{
    height: 50px;
    background-color: #2a2d34
}
.menu ul{
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
}
.menu ul li{

    float: left;
    list-style: none;
    
   height: 50px;
}
.menu ul li a{
    text-decoration: none;
    line-height: 50px;
    display: block;
    padding: 0px 20px;
    color: white;
}
.menu ul li a:hover{
    background-color: #871e23;
}


.text{
    position: absolute;
    top: 50px;
    left: 50px;
}
.text .text-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26pt;
    color: #ffffff;
  line-height: 1.5;
}
.text .text-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    color: #ffffff;
    line-height: 1.5;
}
.text input{
    padding: 9px 22px;
    background-color: #871e23;
    color: white;
    border: none;
}
.main{
   margin: 0 auto;
    margin-top: 15px;
   margin-bottom: 10px;
   width: 1349px;
   
}
.main.center{
    width: 1170px;
    margin: 0 auto;
   
   
}
.main-left{
  
    float: left;
   margin-top: 20px;
    width: 270px;
    margin-left: 55px;
}
.main-left .noidung{
    
}
.main-left .noidung ul {
    margin: 0px;
    padding: 0px;
}
.main-left .noidung ul li{
    display:block;
    list-style: none;
    
    padding: 10px 0px;
    padding-left: 20px;

}
.main-left .noidung ul li:hover{
    background-color: #871e23;
}
.main-left .noidung ul li a{
 text-decoration: none;
 color: white;
}

.main-left .noidung .tieude{
    height: 40px;
    background-color: #871e23;
    
}
 .tieude p{
     display: inline-block;
     margin-top: 10px; 
color: white;

}
.main-left .noidung .tieude img.img{
    display: block;
  float: left;
    margin: 10px 0px;
    margin-left: 20px;
    margin-right: 20px;
    
    }
    .images-left{
        margin: 34px 0px;
    }
    .main-left .noidung1{
        height: 440px;
        background-color: #ffffff;
    }
    
.tieude{
    height: 40px;
    background-color: #871e23;
    margin-bottom: 10px;
    
}
 .tieude p{
     display: inline-block;
     margin-top: 10px; 
color: white;

}
.main-left .noidung1 .tieude img.img{
    display: block;
  float: left;
    margin: 10px 0px;
    margin-left: 20px;
    margin-right: 20px;
    
    }
    .anh-left {
        width: 270px;
        margin: 15px 0px;
        
    }
    .anh-left img{
        display: block;
        float: left;
        margin-right: 10px;

    }
    .anh-left p {
       
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #3f3f3f;
    }
    
     .clear{
        clear: both;
    }
    .images-left1{
        margin-top: 42px;
        margin-bottom: 21px;
    }
    .bando{
        height: 302px;
    }
.main-right{
    
    float: right;
    width: 870px;
   
    margin-right: 55px;
    
}
.nhaphanphoi1{

    height: 180px;
    padding: 10px;
    border: 1px solid #acabab;
    margin-bottom: 10px;
}
.soluong{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
margin-bottom: 10px;
}
.head-nhaphanphoi{
    font-weight: bold;
    display:inline-block;
    border-bottom: 1px solid #055699;
    padding-bottom: 17px;
    color: #055699;
    margin-top: 17px;
    
}
.nhaphanphoi1 a{
    text-decoration: none;
}
.nhaphanphoi1 p:hover{
  color: #055699;
}
.nhaphanphoi1 ul .float-right{
    float: right
}
.img-nhaphanphoi{
    float: left;
    margin-right: 20px;
    height: 150px;
}
.nhaphanphoi1 p{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #e41b23;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.thuonghieu{
    /* font-size: 15px; */
color: #303030;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 4px;
}
.fa-globe{
    color: blue;
    margin-right: 5px;
}
.color{
    color: red;
}
.fab,.fas{
    margin-right: 10px;
}
.thongtin{
    margin-top: 20px;
}
.button-main{
    float: right;
   
}
.button-main button{
    padding: 5px;
    background-color: #871e23;
}
.fa-chevron-right{
 padding-left: 5px;
 color: white;
}

.main-right-1{
  
    border: 1px solid #d3d3d3;
    margin-bottom: 20px;
    
}
.clear{
    clear: both;
}

  img.img{

display: block;
margin: 10px;
float: left;

}
.main-right-1  p{
    color: #333333;
    margin-top: 20px;
    text-align: justify;
    margin-right: 10px;
}
.main-right-1 .xemthem{
    display: inline-block;
    float: right;
    color:blue;
    margin-right: 40px;
}
.main-right-1 .xemthem:hover{
    font-weight: bold
}
.sanpham{
    text-align: center;
}
.sanpham p{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}
.mani-2{
    clear: both;
    margin: 0 auto;
    height: 640px;
    margin-bottom: 20px;
    width: 1349px;
}
.mani-2 .main-2-left{
    float: left;
    
    height: 640px;
    width: 22%;
}
.mani-2 .main-2-center{
    float: left;
    height: 620px;
    width: 52%;
    margin: 0px 27px;
    box-sizing: border-box;
    transition: 1s;
}
.mani-2 .main-2-right{
    float: left;
  
    height: 640px;
    width: 22%;
}
.main-2-left-images{
    text-align: center;
    height: 300px;
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    
   
}
.main-2-left-images img{
    display: inline-block;
   margin-top: 30px;
   
}
.main-2-center img:hover{
    transform: scale(1.1);
    transition: 1s;
    
}
.main-2-center img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
   
}
.main-2-left-images h4{
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    display:inline-block;
    position: relative;
    bottom: -80px;
    transition: 0.5s;

}
.hover{
   
    background-color: #f5f3f3;
    transition: 1s;
}
.hover p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 15px;
}
.text_dt p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
}
.hover:hover h4{
    bottom: -10px;
    transition: 1s;

}
 h4:hover{
    background-color: black;
    color: white;
}
.hover:hover{
    
    background-color: white;
    box-shadow: 10px 10px  30px #acabab;
   transition: 1s;
}
.clear{
    clear: both;
}
.footer{
    clear: both;
}
.doitac{
    background-color: #f6f6f6;
    height: 40px;
    
   
}
.doitac p{
    margin-left: 50px;
    font-weight: bold;
}
.nen{
    background-color: #f6f6f6;
    height: 80px;
    
  
}
.footer-1{
   margin: 15px 0px;
    height: 55px;
    background-color:#ffffff;
    
    
}
.taitro{
    width: 1240px;
    
    margin: 0 auto;
    height: 65px;
}
.taitro ul .li{
    float: left;
    line-height: 41px;
   margin-right: 77px;
}
.taitro ul .float-right{
    float: right;
}
.taitro ul .float-left{
    margin-right: 60px;
    float: left;
}
.footer-2{
    height: 65px;
    background-color:#f5f5f5;
    border-bottom: 1px solid #babbbb;
    border-top: 1px solid #babbbb;
}
.footer-2 p{
    line-height: 65px;
    color: #212428;
    margin-left: 60px;
    display: inline-block;
    
}
.footer-2 .share{
    float: right;
    margin-right: 50px;
    line-height: 65px;
   
}
.footer-2 .share input{
    width: 235px;
    height: 30px;
    margin-right: 5px;
}
.footer-2 .share  .button{
    width: 70px;
    background-color: #525151;
    color: #ffffff;
    border: none;
    margin-left: -3px;
    line-height: 20px !important;
}
.footer-3{
    height: 315px;
    background-color: #f5f5f5;
}
.footer-3-center {
    width: 1220px;
    margin: 0 auto;
 
    height: 265px;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .ul-1 {
    width: 270px;
    margin-top: 20px; /*ở đây nè*/
   float: left;
   
  }

 .ul-1 li{
    display:inline-block;
    margin: 6px;
   margin-left: 0px;
   
}
.ul-1 li a{
    text-decoration: none;
    color:#212428;
}
.lienhe{
    height: 315px;
    width: 300px;
    float: right;
    margin-top: 22px;
}
.lienhe input{
    width: 275px;
    margin-bottom: 10px;
    height: 25px;
}
.lienhe .email{
    width: 275px;
    height: 100px;
   
}
 input.nhap{
height: 25px;
width: 80px;
margin-right: 10px;
}
input.nhap2{
    width: 40px;
    margin-left: 80px;
    color:white;
    background-color: #525151;
    border: none;


}
.lienhe ul li{
    display: inline-block;

}
.lienhe p{
    margin-top: 4px;
    color: #212428;
}
.footer-4 p{
margin-top: 14px;
margin-left: 65px;
color: #212428;
}